[submodule "Javascript-Promises"]
	path = Javascript-Promises
	url = https://github.com/Airomad/Udacity-Javascript-Promises.git
[submodule "Object-Oriented-Javascript"]
	path = Object-Oriented-Javascript
	url = https://github.com/Airomad/Udacity-Object-Oriented-Javascript.git
[submodule "Javascript-Design-Patterns"]
	path = Javascript-Design-Patterns
	url = https://github.com/airomad/udacity-javascript-design-patterns.git
[submodule "Intro-To-jQuery"]
	path = Intro-To-jQuery
	url = https://github.com/airomad/udacity-intro-to-jquery.git
[submodule "Javascript-and-the-DOM"]
	path = Javascript-and-the-DOM
	url = https://github.com/airomad/udacity-javascript-and-the-dom.git
[submodule "ES6-Javascript-Improved"]
	path = ES6-Javascript-Improved
	url = https://github.com/airomad/udacity-es6-javascript-improved
[submodule "Github-and-Collaboration"]
	path = Github-and-Collaboration
	url = https://github.com/airomad/udacity-github-and-collaboration.git
[submodule "Web-Tooling-and-Automation-by-Google"]
	path = Web-Tooling-and-Automation-by-Google
	url = https://github.com/airomad/udacity-web-tooling-and-automation-by-google.git
[submodule "Building-High-Conversion-Web-Forms"]
	path = Building-High-Conversion-Web-Forms
	url = https://github.com/airomad/udacity-building-high-conversion-web-forms.git
