[submodule "Javascript-Promises"]
	path = Javascript-Promises
	url = https://github.com/Airomad/Udacity-Javascript-Promises.git
[submodule "Object-Oriented-Javascript"]
	path = Object-Oriented-Javascript
	url = https://github.com/Airomad/Udacity-Object-Oriented-Javascript.git
[submodule "Javascript-Design-Patterns"]
	path = Javascript-Design-Patterns
	url = https://github.com/airomad/udacity-javascript-design-patterns.git
[submodule "Intro-To-jQuery"]
	path = Intro-To-jQuery
	url = https://github.com/airomad/udacity-intro-to-jquery.git
[submodule "Javascript-and-the-DOM"]
	path = Javascript-and-the-DOM
	url = https://github.com/airomad/udacity-javascript-and-the-dom.git
